* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

header {
    margin: 0px 20px;
    width: 95vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    z-index: 20;
    position: fixed;
   
}

.first-nav{
    height: 8vh;
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 100px;
    background-color: transparent;

}

.first-nav a {
    text-decoration: none;
    color: white;
}

.second-nav {
    background-color: rgb(255, 203, 5);
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    border-radius: 5px;
    box-shadow: 1px 4px 15px -4px rgba(125,121,125,0.99);
    z-index: 20;
}

.secondnav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    gap: 80px;
}

.second-nav figure {
    width: 7%;
    margin: 0px;
}

.second-nav figure img{
    width: 70px;
    height: 40px;
}

.second-navLink {
    /* width: 60%; */
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.second-navLink a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    height: 10vh;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 100px; */
    /* background-color: green; */
}

.second-navLink a:hover {
    border-bottom: 3px solid green;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-1 {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-height {
    width: 100vw;
    height: 100vh;
}

.pix {
    height: 2px;
    width: 5px;
}

.slide-image {
    width: 100vw;
    height: 100vh;
}

.description-parent {
    position: relative;
}

.description {
    width: 100vw;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    position: absolute;
    bottom:100px;
    left: 45px;
    
}

.description h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.drop {
   display: flex;
    position: relative;
    height: 100%;
  }

   .dropdown {
    height: 85vh;
    width: 95vw;
    position: absolute;
    top: 80px;
    left: -260px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 100px 50px;
    display: none;
  }

  .dropdown-links {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .dropdown-links a {
    text-decoration: none;
    display: inline-block;
    max-width: 250px;
    padding: 10px 10px;
    border-radius: 5px;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .dropdown-links a:hover {
    background-color: rgb(255, 203, 5);
    border: none;
    font-weight: bold;
  }

  .dropdown figure {
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .dropdown figure img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  
  .drop:hover .dropdown{
    display: flex;
  }

  .devices {
    left: -349px;
  }

  .voices {
    left:-452px;
  }

  .sim {
    left: -550px;
  }

  .support {
    left:-700px;
  }

  .get-started {
    height: 10vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, rgba(0,73,122,0.6) 26.48%, rgba(0,51,102,0.6) 73.52%);
    position: absolute;
    bottom: 30px;
    border-radius: 4px;
  }

  .get-started button {
    padding: 10px 60px;
    border:2px solid white;
    border-radius: 30px;
    background-color: rgb(85, 81, 81);
    color: white;
    /* background-image: linear-gradient(to left, rgba(7, 7, 7, 0.6) 26.48%, rgba(0,51,102,0.6) 73.52%); */
  }

  .get-started button:hover {
    background-color: rgb(255, 203, 5);
    color: black;
    border: none;
  }

  .section-2 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .servces {
    width: 90%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0px;
    margin-top: 30px;
  }

  .servces a {
    flex: 1;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100%;
    text-decoration: none;

  }

  .servces a figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .servces a figure figcaption{
    color: grey;
  }

  .all-devices {
    /* background-color: red; */
    width: 95%;
    display: flex;
    gap: 400px;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0px;
  }

  .all-devices  h1{
    font-size: 60px;
    font-weight:bolder;
    color:black;
  }

  .all-devices button{
    border: 2px solid grey;
    padding: 10px;
    width: 180px;
    border-radius: 40px;
    font-weight: bolder;
    background-color: white;

  }

  .grid-box {
    margin-top: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 300px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "sd sd sd main main main main main main"
      "sd sd sd  ft  ft   ft   ft   ft   ft";
  }
  

  .design{
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
  }

  .design h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }


.medium-1 .deal h4 {
  color: black;
  font-weight: bold;
}

.medium-1 .deal p {
  color: black;
  font-weight: bold;
}

.medium-2 div h4, p {
  color: white;
  font-weight: bold;
}

  .large {
    grid-area: sd;
    background-image: url(../images/5G_-promo-web.jpg);
  }

  .medium-1 {
    grid-area: main;
    background-image: url(../images/BR-DESKTOP-Standard.jpg);
  }

  .medium-2{
    grid-area: ft;
    background-image: url(../images/Fibrebroad_black_web.jpeg);
  }

main hr {
  margin-top: 50px;
  width: 90%;
}

  .get-doing {
    height: 80vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.get-doing h1 {
  font-weight: bold;
}
  .explore {
    width: 85%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
  }

  .flex h2 {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: rgb(26, 22, 22);
  }

  .flex p{
    font-size: 15px;
    color: grey;
  }