* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin: 0px 20px;
    width: 95vw;
    height: 18vh;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-nav{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}